.Mercurio {
background-color: aliceblue;
}
.Venus {
background-color: antiquewhite;
}
.Tierra {
background-color: aqua;
}
.Marte {
background-color: aquamarine;
}
.Jupiter {
background-color: blue;
}
.Saturno {
background-color: blueviolet;
}
.Uranio {
background-color: brown;
}
.Neptuno {
background-color: bisque;
}