* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: cadetblue;
}

#container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(51, 5, 175);
    justify-content:center;
}

.robot-profile {
    border: 1px solid #dddddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(61, 224, 82);
  }
.profile-image {
    background-color: rgb(81, 196, 250);
    width: 100%;
    height: auto;
}